# DATA TYPE CONVERSION

In [1]:
num1 = int(14.5)
print(num1)
# FLOAT VALUE CAN BE CONVERTED TO INTEGER

14

In [2]:
print(float(num1))
# INTEGER VALUE CAN BE CONVERTED TO FLOAT

14.0

In [3]:
print(str(num1))
# INTEGER VALUE CAN BE CONVERTED TO STRING

14

In [4]:
num2 = 12.5
print(str(num2))
# FLOAT VALUE CAN BE CONVERTED TO string

12.5

In [7]:
word = '56'
print(float(word))
#string VALUE CANNOT BE CONVERTED TO INTEGER or float except it is a digit as a string

56.0

# INPUT FUNCTION

In [12]:
name = input('Enter your name:')

Enter your name:78

In [13]:
print(name)

78

In [14]:
print(type(name))

<class 'str'>

In [20]:
age = float(input('Enter your age:'))

Enter your age:14

# OPERATORS

## ARITHEMETIC OPERATORS [+,-,/,*,%, //,**]
### + : ADDITION
### - : SUBTRACTION
### / : DIVISION
### * : MULTIPLICATION
### % : MODULUS[TO GET THE REMAINDER]
### // : INTEGER DIVISION [TO GET THE INTEGER OUTCOME WITHOUT THE REMAINDER]
### ** : EXPONENTIAL [RAISE TO POWER]

In [21]:
firstnumber = int(input('PROVIDE THE FIRST NUMBER:'))
secondnumber = int(input('PROVIDE THE SECOND NUMBERS:'))
print(f'{firstnumber} + {secondnumber} = {firstnumber + secondnumber}')
print(f'{firstnumber} - {secondnumber} = {firstnumber - secondnumber}')
print(f'{firstnumber} / {secondnumber} = {firstnumber / secondnumber}')
print(f'{firstnumber} * {secondnumber} = {firstnumber * secondnumber}')
print(f'{firstnumber} % {secondnumber} = {firstnumber % secondnumber}')
print(f'{firstnumber} // {secondnumber} = {firstnumber // secondnumber}')
print(f'{firstnumber} ** {secondnumber} = {firstnumber ** secondnumber}')

PROVIDE THE FIRST NUMBER:45
PROVIDE THE SECOND NUMBERS:4
45 + 4 = 49
45 - 4 = 41
45 / 4 = 11.25
45 * 4 = 180
45 % 4 = 1
45 // 4 = 11
45 ** 4 = 4100625

In [ ]:
## COMPARISON OPERATORS [>,<,>=,<=,==, !=]
### > : GREATER THAN
### < : LESS THAN
### >= : GREATER THAN OR EQUAL TO
### <= : LESS THAN OR EQUAL TO
### == : EQUAL TO
### != : NOT EQUAL TO

In [22]:
firstnumber = int(input('PROVIDE THE FIRST NUMBER:'))
secondnumber = int(input('PROVIDE THE SECOND NUMBERS:'))
print(f'{firstnumber} > {secondnumber} = {firstnumber > secondnumber}')
print(f'{firstnumber} < {secondnumber} = {firstnumber < secondnumber}')
print(f'{firstnumber} >= {secondnumber} = {firstnumber >= secondnumber}')
print(f'{firstnumber} <= {secondnumber} = {firstnumber <= secondnumber}')
print(f'{firstnumber} == {secondnumber} = {firstnumber == secondnumber}')
print(f'{firstnumber} != {secondnumber} = {firstnumber != secondnumber}')

PROVIDE THE FIRST NUMBER:20
PROVIDE THE SECOND NUMBERS:25
20 > 25 = False
20 < 25 = True
20 >= 25 = False
20 <= 25 = True
20 == 25 = False
20 != 25 = True

In [23]:
## LOGICAL OPERATORS [and, or , not]
### and : all condtions must be true
### or : atleast one of the condition must be true
### not :  to check if a condtion is true

In [24]:
print(firstnumber > secondnumber and secondnumber != firstnumber)
print(firstnumber > secondnumber or secondnumber != firstnumber)
print(not firstnumber)

False
True
False

In [25]:
## IDENTITY OPERATORS [is, is not] to check if an expression is true or
## false

In [26]:
print(firstnumber is secondnumber)
print(firstnumber is not secondnumber)

False
True

In [27]:
### MEMBERSHIP OPERATORS [in, not in] to check if a value exists

In [28]:
word = 'school'
print('sch' in word)
print('sCh' not in word)

True
True

# A car rental company charges a base rate of $50 per day plus $0.20 per mile driven. Write a program that asks the user for the number of days the car was rented and the number of miles driven, and then calculates and displays the total cost.

In [30]:
perdayrate = 50
permilerate = 0.2
numbersofday = int(input('Enter numbers of day:'))
numberofmile = float(input('Enter numbers of miles driven'))
totalcost = (perdayrate * numbersofday) + (permilerate * numberofmile)
print(f'you will be charged ${totalcost} for {numbersofday} days and {numberofmile} mile driven')

Enter numbers of day:60
Enter numbers of miles driven150
you will be charged $3030.0 for 60 days and 150.0 mile driven