# loops

In [1]:
## for loop

In [2]:
word = 'python'
for char in word:
    print(char * 3)

ppp
yyy
ttt
hhh
ooo
nnn

In [5]:
word = 'python'
for char in word:
    print(char * 3,end = '/////')

ppp/////yyy/////ttt/////hhh/////ooo/////nnn/////

# In a school, how can you use a for loop to iterate over a list of students and perform a specific action for each student, such as printing out their grades or generating a report card?

In [6]:
student_records = {'001':{'Name':'Sam Jones','English':85,
                    'Math':75,'Physics':78,'Chemistry':70},
                 '002':{'Name':'Mary Lawal','English':90,
                    'Math':75,'Physics':52,'Chemistry':88},
                 '003':{'Name':'Okoro Samson','English':85,
                    'Math':100,'Physics':99,'Chemistry':72},
                 '004':{'Name':'Favor Agben','English':77,
                    'Math':78,'Physics':82,'Chemistry':70},
                 '005':{'Name':'Kunle Afod','English':85,
                    'Math':75,'Physics':92,'Chemistry':74}}
for key in student_records:
    print(f'''_________STUDENT REPORT CARD_______
NAME:{student_records[key]['Name']}
ENGLISH:{student_records[key]['English']}
MATH:{student_records[key]['Math']}
PHYSICS:{student_records[key]['Physics']}
CHEMISTRY:{student_records[key]['Chemistry']}
AVERAGE:{(student_records[key]['English'] +student_records[key]['Math'] + student_records[key]['Physics']+ student_records[key]['Chemistry'])/4}
''')

_________STUDENT REPORT CARD_______
NAME:Sam Jones
ENGLISH:85
MATH:75
PHYSICS:78
CHEMISTRY:70
AVERAGE:77.0

_________STUDENT REPORT CARD_______
NAME:Mary Lawal
ENGLISH:90
MATH:75
PHYSICS:52
CHEMISTRY:88
AVERAGE:76.25

_________STUDENT REPORT CARD_______
NAME:Okoro Samson
ENGLISH:85
MATH:100
PHYSICS:99
CHEMISTRY:72
AVERAGE:89.0

_________STUDENT REPORT CARD_______
NAME:Favor Agben
ENGLISH:77
MATH:78
PHYSICS:82
CHEMISTRY:70
AVERAGE:76.75

_________STUDENT REPORT CARD_______
NAME:Kunle Afod
ENGLISH:85
MATH:75
PHYSICS:92
CHEMISTRY:74
AVERAGE:81.5

In [17]:
student_records = {'001':{'Name':'Sam Jones','English':85,
                    'Math':75,'Physics':78,'Chemistry':70},
                 '002':{'Name':'Mary Lawal','English':90,
                    'Math':75,'Physics':52,'Chemistry':88},
                 '003':{'Name':'Okoro Samson','English':85,
                    'Math':100,'Physics':99,'Chemistry':72},
                 '004':{'Name':'Favor Agben','English':77,
                    'Math':78,'Physics':82,'Chemistry':70},
                 '005':{'Name':'Kunle Afod','English':85,
                    'Math':75,'Physics':92,'Chemistry':74}}
studentid = input('Please provide your id to check result:')
for key in student_records:
    if key == studentid:
        print(f'''_________STUDENT REPORT CARD_______
NAME:{student_records[key]['Name']}
ENGLISH:{student_records[key]['English']}
MATH:{student_records[key]['Math']}
PHYSICS:{student_records[key]['Physics']}
CHEMISTRY:{student_records[key]['Chemistry']}
AVERAGE:{(student_records[key]['English'] +student_records[key]['Math'] + student_records[key]['Physics']+ student_records[key]['Chemistry'])/4}
''')
        break
else:
        print('Record not found!!!!!')

Please provide your id to check result:002
_________STUDENT REPORT CARD_______
NAME:Mary Lawal
ENGLISH:90
MATH:75
PHYSICS:52
CHEMISTRY:88
AVERAGE:76.25