#LOOP

In [1]:
## FOR LOOP

In [3]:
word = 'PHYTON'
for char in word:
    print (char * 3)

PPP
HHH
YYY
TTT
OOO
NNN

In [4]:
word = 'phyton'
for char in word:
    print (char * 3, end = ' ')

ppp hhh yyy ttt ooo nnn

in a school, how can you  use a for loop to iterate over a list of students and perform a specific action for each student, such as printing out thier grades or generating a report card?

In [24]:
student_records = {'001':{'Name':'sam jones', 'English':85, 'Maths':75, 'Chemistry':70, 'physics':78},
                    '002':{'Name':'Mry lawal', 'English':90, 'Maths':75, 'Chemistry':52, 'physics':88},
                    '003':{'Name':'sam okoro samson', 'English':95, 'Maths':65, 'Chemistry':70, 'physics':45},
                    '004':{'Name':'favour agben', 'English':85, 'Maths':75, 'Chemistry':70, 'physics':78},
                    '005':{'Name':'kunle aford', 'English':95, 'Maths':65, 'Chemistry':85, 'physics':70}}
student = input('please provide your id to check result')
for key in student_records:
    if key == student:
        print (f'''___________Stundent report card_________________
Name:{student_records[key]['Name']}
English:{student_records[key]['English']} 
Maths:{student_records[key]['Maths']} 
Physics:{student_records[key]['physics']} 
Chemistry:{student_records[key]['Chemistry']} 
Average:{(student_records[key]['English'] + student_records[key]['Maths'] + student_records[key]['physics'] +student_records[key]['Chemistry'])/4}
    ''')
        break
else:
         print('Record not found!!!!!')

please provide your id to check result005
___________Stundent report card_________________
Name:kunle aford
English:95
Maths:65
Physics:70
Chemistry:85
Average:78.75

In [5]:
student_records = {'001':{'Name':'sam jones', 'English':85, 'Maths':75, 'Chemistry':70, 'physics':78},
                    '002':{'Name':'Mry lawal', 'English':90, 'Maths':75, 'Chemistry':52, 'physics':88},
                    '003':{'Name':'sam okoro samson', 'English':95, 'Maths':65, 'Chemistry':70, 'physics':45},
                    '004':{'Name':'favour agben', 'English':85, 'Maths':75, 'Chemistry':70, 'physics':78},
                    '005':{'Name':'kunle aford', 'English':95, 'Maths':65, 'Chemistry':85, 'physics':70}}

for key in student_records:

        print (f'''___________Stundent report card_________________
Name:{student_records[key]['Name']}
English:{student_records[key]['English']} 
Maths:{student_records[key]['Maths']} 
Physics:{student_records[key]['physics']} 
Chemistry:{student_records[key]['Chemistry']} 
Average:{(student_records[key]['English'] + student_records[key]['Maths'] + student_records[key]['physics'] +student_records[key]['Chemistry'])/4}
    ''')

___________Stundent report card_________________
Name:sam jones
English:85
Maths:75
Physics:78
Chemistry:70
Average:77.0

___________Stundent report card_________________
Name:Mry lawal
English:90
Maths:75
Physics:88
Chemistry:52
Average:76.25

___________Stundent report card_________________
Name:sam okoro samson
English:95
Maths:65
Physics:45
Chemistry:70
Average:68.75

___________Stundent report card_________________
Name:favour agben
English:85
Maths:75
Physics:78
Chemistry:70
Average:77.0

___________Stundent report card_________________
Name:kunle aford
English:95
Maths:65
Physics:70
Chemistry:85
Average:78.75

In a bank, how can you use a for loop to iterate over a list of customer trasactions and perform a specific action for transaction,such as calculation interest or updating account

In [19]:
customers_interest =  {'001':{'Name':'sam jones', 'amount':5000, 'years':4,  'interest':5},
                      '002':{'Name':'kunle afod', 'amount':9000, 'years':6,  'interest':10},
                      '003':{'Name':'favour agben', 'amount':10000, 'years':8,  'interest':7},
                      '004':{'Name':'mary lawal', 'amount':12000, 'years':2,  'interest':8},
                      '005':{'Name':'okoro samson', 'amount':7000, 'years':6,  'interest':5}}

for key in customers_interest:                    
          print (f'''________custormers_interest______________
Name:{customers_interest[key]['Name']}
amount:{customers_interest[key]['amount']}
years:{customers_interest[key]['years']}
interest:{customers_interest[key]['interest']}
Average:{(customers_interest[key]['amount'] + customers_interest[key]['years'] + customers_interest[key]['interest'])/3}
          ''')

________custormers_interest______________
Name:sam jones
amount:5000
years:4
interest:5
Average:1669.6666666666667

________custormers_interest______________
Name:kunle afod
amount:9000
years:6
interest:10
Average:3005.3333333333335

________custormers_interest______________
Name:favour agben
amount:10000
years:8
interest:7
Average:3338.3333333333335

________custormers_interest______________
Name:mary lawal
amount:12000
years:2
interest:8
Average:4003.3333333333335

________custormers_interest______________
Name:okoro samson
amount:7000
years:6
interest:5
Average:2337.0

In [5]:
customers_interest =  {'001':{'Name':'sam jones', 'amount':5000, 'years':4,  'interest':5},
                      '002':{'Name':'kunle afod', 'amount':9000, 'years':6,  'interest':10},
                      '003':{'Name':'favour agben', 'amount':10000, 'years':8,  'interest':7},
                      '004':{'Name':'mary lawal', 'amount':12000, 'years':2,  'interest':8},
                      '005':{'Name':'okoro samson', 'amount':7000, 'years':6,  'interest':5}}
customers = input('please provide your id to check result')
for key in customers_interest:
    if key == customers:
        print (f'''________custormers_interest______________
Name:{customers_interest[key]['Name']}
amount:{customers_interest[key]['amount']}
years:{customers_interest[key]['years']}
interest:{customers_interest[key]['interest']}
Average:{(customers_interest[key]['amount'] + customers_interest[key]['years'] + customers_interest[key]['interest'])/3}
    ''')
        break
else:
        print('Record not found!!!!')

please provide your id to check result001
________custormers_interest______________
Name:sam jones
amount:5000
years:4
interest:5
Average:1669.6666666666667